name: hello-world

# trigger
on:
  push:
    branches: ["stage"]

env:
  TEXT: "Carlos Chacon"


# pipeline
jobs:
  print: # name
    runs-on: ubuntu-latest 
    steps:
      - name: print-to-screen
        run: echo "Hello world   ${{ env.TEXT }}"